body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

#container{
    display: flex;
    flex-direction: column;
}

#player{
    align-self: center;
    width: 720px;
    height: auto;
}

h1{
    align-self: center;
}

p{
    align-self: center;
}